<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main_header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-12 col-12 main_header_left align-items-center">
                            <figure style="width: 60rem ; height: 30rem ;">
                                <img src="images/404.png" alt="err" class="img-fluid" title="Gaurav Gupta">
                            </figure>
                            <p>Welcome to MausamUpdate.com</p>
                            <h1>{{errorMsg}}</h1>
                            <a href="/"><button>Go Back</button></a>
                        </div>  
                    </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>