<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main_header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-4 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="images/about.jpg" alt="err" class="img-fluid" title="Gaurav Gupta">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 main_header_left">
                            <p>Welcome to MausamUpdate.com</p>
                            <h1>I am a <span>Full stack Developer</span> B.Tech CSE student at IIITG</h1>
                            <a href="images/resume.pdf" target="_blank"><button>About Me</button></a>
                        </div>  
                    </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>